/*======= GLOBAL STYLES ===========*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --header1: calc(2rem + 1vw);
  --dark: #111;
  --medium: #666670;
  --light: #fff;
  --color1: #9cce40;
  --color2: #32c8b3;
  --bcgcolor: #c3c3c3;
  --white: white;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-size: var(--text);
  font-family: ;
  color: var(--dark);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: auto;
  transition: color 0.5s ease-in-out;
}

a:hover, a:focus, a:link:active, a:visited:active {
  color: (internal value);
}

.flex-row, .flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4 {
  font-size: var(--header4);
}

/*======= NAVIGATION BURGER ===========*/
#burger {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.burger {
  padding: 0.15rem 1.6rem;
  margin: 0.6rem 0;
  background-color: var(--dark);
  display: block;
  transition: all 0.5s ease;
}

.b1 {
  transform: rotateZ(45deg) translateY(420%);
}

.b2 {
  opacity: 0;
}

.b3 {
  transform: rotateZ(-45deg) translateY(-420%);
}

.mobile-menu {
  display: block;
}

/*======= NAVIGATION ===========*/
/*======= HERO SECTION ===========*/
/*======= SECTION ===========*/
/*======= SECTION ===========*/
/*======= SECTION ===========*/
/*======= FOOTER  ===========*/
footer {
  margin-top: auto;
  text-align: center;
}

/*======= MEDIA QUERY ===========*/
@media (min-width:700px) {
  /*======= ================= ===========*/
  /*======= ================== ===========*/
}

@media (min-width:1000px) {
  /*======= ================= ===========*/
  /*======= ================== ===========*/
}
