
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --darkaccent: #222222;
  --lightaccent: #aaaaaa;
  --bcgcolor: #eeeeee;
  font-family: ;
  color: var(--darkaccent);
}

/*======= A LINK DEFAULT CSS ===========
<!-- a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}*/
