$dark: #111;
$medium: #666670;
$light: #c3c3c3;
$color1: #9cce40;
$color1a: #87b242;
$color2: #32c8b3;
$color3: #c89819;
$whitish: #fffff5;

@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@import "header";
@import "footer";
@import "responsive";

/*======= GLOBAL STYLES ===========*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: $dark;
  font-size: calc(1.5rem + 1vw);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

a:hover,
a:focus,
a:link:active,
a:visited:active {
  color: (internal value);
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: calc(2rem + 1vw);
}

h2 {
  font-size: calc(3.5rem + 1vw);
}

h3 {
  font-size: calc(3rem + 1vw);
}

h4 {
  font-size: calc(2.4rem + 1vw);
}
h5 {
  font-size: calc(2rem + 1vw);
}
